# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo

# =========================
# Common logs / waves / runtime
# =========================
*.log
*.jou
*.pb
*.wdb
*.wdf
*.wpc
*.vcd
*.str

